*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Nav bar */
header nav .nav-bar{
    display: flex;
    background-color: black;
    width: 100%;
    padding: 2px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
/* logo */
nav .nav-bar .logo{
    width: 130px;
    height: 65px;
    margin: 1px;
    padding: 2px 5px;
}
.logo img{
    width: 113px;
    
}
nav  .border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}
/* location */
nav .nav-bar .location{
    display: flex;
    align-items: center;
    width: 100px;
    height: 65px;
    gap: 7px;
    margin: 1px;
    padding: 2px 5px;
}
nav .nav-bar .location .loco-ind {
    color: rgb(204, 204, 204);
}
nav .nav-bar .location .loco-ind {
    color:rgb(255, 255, 255);
}
nav .nav-bar .first{
    font-size: 14px;
    font-weight: 400;
}
nav .nav-bar .second{
    font-size: 16px;
    font-weight: 700;
}
/* Search box */
nav .nav-bar .search_box {
    display: flex;
    margin: 1px;
    padding: 2px 5px;
}
nav .nav-bar .search_box #select{
    width: 50px;
    height: 40px;
    background-color: #cdcdcd;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    cursor: pointer;
}
nav .nav-bar .search_box #select:hover{
    background-color: #d5d2d2c2;
}
nav .nav-bar .search_box .input{
    width: 700px;
    height: 40px;
    font-size: 16px;
    border: none;
}
nav .nav-bar .search_box .se-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:40px;
    background-color:rgb(228, 155, 15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    cursor: pointer;
}
nav .nav-bar .search_box .se-symbol:hover{
    background-color:rgb(206, 118, 11);
}
.nav-bar .btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* language */
nav .nav-bar .language{
    width:95px;
    height: 65px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
}
nav .nav-bar .language img{
    width:25px;
    position: absolute;
    top: 28px;
    left: 10px;
}
nav .nav-bar .language #lang{
    position: absolute;
    top: 30px;
    left: 40px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 45px;
    border: none;
}
/* sign in */
nav .nav-bar .sign-in{
    display: flex;
    align-items: center;
    width: 130px;
    height: 65px;
    margin: 1px;
    padding: 2px;
}
/* orders */
nav .nav-bar .order{
    margin: 1px;
    padding: 15px;
    width: 100px;
    height: 65px;
    display: flex;
    align-items: center;
}
/* cart */
nav .nav-bar .cart{
    display: flex;
    align-items: center;
    width: 80px;
    height: 65px;
    padding: 2px;
    font-size: 16px;
    font-weight: 900;
    gap: 3px;
}
nav .nav-bar .cart i{
    font-size: 30px;
}
/* responsiveness of nav bar */
@media screen and (max-width:1400px) {
    nav .nav-bar .search_box .input{
        width: 500px;
        height: 40px;
        font-size: 16px;
        border: none;
    }
}
@media screen and (max-width:1245px) {
    nav .nav-bar .location{
        display: none;
    }
    nav .nav-bar .search_box .input{
        width: 500px;
        height: 40px;
        font-size: 16px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    nav .nav-bar .search_box #select{
        display: none;
    }
    nav .nav-bar .language{
        display: none;
    }
    nav .nav-bar .order{
        display: none;
    }
}
@media screen and (max-width:945px){
    nav .nav-bar{
        display: grid;
        grid-template-areas:"logo btn"
                            "search_box" ;
        justify-content: space-between;
    }
    nav .nav-bar .logo{
        grid-area: logo;
        width: 130px;
        height: 65px;
        margin: 1px;
        padding: 2px 5px;
    }
    .logo img{
        width: 113px;
        
    }
    nav  .border:hover{
        border: 1.5px solid white;
        border-radius: 2px;
    }
    .nav-bar .btn{
        grid-area: btn;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav .nav-bar .search_box {
        grid-area: search_box;
        display: flex;
        margin: 1px;
        padding: 2px 5px;
        width:90%;
    }
    nav .nav-bar .search_box .input{
        width: 80%;
        height: 40px;
        font-size: 16px;
        border: none;
    }
    nav .nav-bar .search_box .se-symbol{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height:40px;
        background-color:rgb(228, 155, 15);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: black;
        cursor: pointer;
    }
    nav .nav-bar .search_box .se-symbol:hover{
        background-color:rgb(206, 118, 11);
    }
}
/* option-bar */
nav .option-bar{
    width: 100%;
    padding: 5px 0px;
    background-color:rgb(15, 17, 17);
    color: white;
}
nav .option-bar ul{
    list-style: none;
    display: flex;
}
nav .option-bar ul li{
    padding: 9px 10px;
}

/* Main */
.main{
    background-color:#cdcdcd;
}
.main .hero{
    background-image: url("poster1.jpg");
    background-size:cover;/*this property makes the image to cover the background  */
    height: 600px;
    background-position: center center;
}
.main .hero .content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:95% ;
    margin:0px auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 275px;
}
.main .hero .content a{
    text-decoration: none;
}
.main .hero .content a:hover{
    color: rgb(199, 81, 31);
}
/* produts */

.main .container {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
}
.main .position{
    background: linear-gradient( rgb(246, 216, 46), #cdcdcd );
    position: relative;
    top: 300px;
}
main .sec{
    margin-top: 112px;
}
.main .container img{
    width: 150px;
}
.main .container .box{
    width: 24%;
    height: 350px;
    background-color: white;
    padding: 15px;
}
.main .container .product-img{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap : 10px;
    margin: 15px;
}
.main .container .single-img img{
    width: 95%;
    padding: 10px;
}
.main .container .product-img2{
    display: grid;
    row-gap: 10px;
    grid-template-areas: "img1 img1 img1"
                          "img2 img3 img4" ;
    padding : 10px;
}
.main .container4 .product-img2 .img1{
    grid-area: img1;
}
.main .container4 .product-img2 .img2{
    grid-area: img2;
}
.main .container4 .product-img2 .img3{
    grid-area: img3;
}
.main .container4 .product-img2 .img4{
    grid-area: img4;
}
/* sports-product */
.main .overflow-content {
    background-color: white;
    width: 100%;
    padding: 0px 10px;
}
.main .top-deal{
    padding: 10px 20px;
}
.main .overflow-content .img{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 10px;
}
.main .overflow-content img{
    margin: 10px 20px;
}
/* sign-in button */
.main .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
    padding: 30px;
    border: 2px solid grey;
    background-color: white;
}
.main .btn :first-child{
    font-size: 16px;
}
.main .btn :last-child{
    font-size: 14px;
}
.main .btn a{
    text-decoration: none;
}
.main .btn #sign-in{
    width: 225px;
    padding: 5px;
    background-color: rgba(251, 181, 19, 0.793);
    border: 2px solid rgba(251, 181, 19, 0.793);
    border-radius: 5px;
}
.main .btn #sign-in:hover{
    background-color: rgba(251, 181, 19, 0.936);
}
/* footer */
footer .footer-content{
    background-color: #222f3d;
}
/* Back to top */
footer .foot-panel1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:#37475a;
    color: white;
    width: 100%;
}
/* About Amazon */
footer .foot-panel2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    padding: 40px 0px;
    color: white;
    max-width: 75%;
    margin: auto;
}
.foot-panel2 ul{
    list-style: none;
    color: rgb(221, 221, 221);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.foot-panel2 ul li{
    margin: 10px;
}
.foot-panel2 ul li:hover{
    text-decoration: underline;
}
.separation{
    height: 1px;
    width: 100%;
    background-color: rgb(221, 221, 221);
}
.footer-content .foot-panel3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
.footer-content .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 25px;
}
.footer-content .end .logo{
    margin-right: 25px;
}
.btns .border{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0px 10px;
}
.btns #lang{
    border: none;
    background-color:  #222f3d;
    color: white;
}
.btns .US{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 7px;
}
.btns .US img{
    width: 25px;
}
.footer-content .foot-panel4{
    background-color: #0f1111;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0px;
}
.footer-content .foot-panel4 .first-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content .foot-panel4 .first-line p{
    padding: 5px 10px;
}
.footer-content .foot-panel4 .first-line p:hover{
    text-decoration: underline;
}
.footer-content .foot-panel4 .sec-line{
    text-align: center;
}